<div ng-show="product.images.length">

        <!-- Big Main Image -->
        <div class="img-wrap">
           <img ng-src="{{product.images[gallery.current]}}" class="img-thumbnail center-block"/>
        </div>

        <br>

        <!-- Small Thumbnails -->

        <ul class="img-thumbnails clearfix">
           <li class="small-image pull-left thumbnail"  ng-repeat="image in product.images">
                <img ng-click="gallery.setCurrent(product.images.indexOf(image))" ng-src="{{image}}"/>
            </li>
         </ul>

</div>